body{
 font-family: "Roboto",sans-serif;
 color:#434455 ;
 background-color: #ffffff ;
}

ul,ol{
    list-style-type:none;
}

a{
    text-decoration: none;
}


.logo {
    font-family: "Raleway",sans-serif;
    line-height: 1.17; 
    color:#4d5ae5 ;

}
.logo-span {
    font-family: "Raleway", sans-serif;
    color:#2e2f42 ;

}

.menu {
  color:  #2e2f42; 
}
.menu-iten {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42 ;
}


.menu-iten:hover,.menu-iten :focus{
color: #404bbf ;
}




.logo-span{
color: #2e2f42;
line-height: 1.17;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase ;
}

.logo{
line-height: 1.17;
font-family: "Raleway", sans-serif; 
font-weight: 700;
font-size: 18px;

letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5 ;
}

.menu-ok{
    color:#434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.logo-btn:hover,.logo-btn:focus{
background-color: #404BBF;
}

.logo-btn{
line-height: 1.07; 
cursor: pointer;
font-family: "Roboto", sans-serif;
 font-weight: 500;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
}

.logo-text{
line-height: 1.07;
font-weight: 700;
font-size: 56px;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}



.logo-two{
line-height: 1.11;
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}


.opis{
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42 ;  
}


.name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

}

.logo-three{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}





.hero{
   line-height: 1.07;
   background-color:#2e2f42 ; 
}


.section-three{
 background-color: #F4F4FD;
}




.adres{
font-style: normal; 
}



.logo :focus,:hover {
 color: #4d5ae5;
}


.footer-menu{
    background-color: #2e2f42 ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px ;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5 ;
}


.section-footer{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}


.text-footer{
 font-size: 36px;
 line-height: 1.11;
 text-align: center; 
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color:#2e2f42;
}


.portfolio-list{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42 ;
}



.portfolio-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455 ;
}


.span-footer{
    color:#f4f4fd ;
}



.parag{
    line-height: 1.5;
    color:#F4F4FD ;
    letter-spacing: 0.02em;
}

.menu-link{

}

.info{
    color: #434455 ;
}



.info :focus,.info :hover{
 color: #404bbf ;
}


.zagalovok{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


.paragrav{
    font-size: 16px;
    line-height: 1.5;
    color: #434455 ;
}



.section-thre{
background-color: #FFFFFF 
}


.paragrav-tru{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}







