body{
 font-family: "Roboto",sans-serif;
 color:#434455 ;
 background-color: #ffffff ;
}

ul,ol{
    list-style-type:none;
}

a{
    text-decoration: none;
}


.logo {
    font-family: "Raleway","sans-serif";
    line-height: 1.17; 
    color:#4d5ae5 ;
}
.logo-span {
    font-family: "Raleway", "sans-serif"
}
.menu {
}
.menu-iten {
   font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.logo-span{
color: #4d5ae5;
line-height: 1.17;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase ;
}

.logo{
line-height: 1.17;
font-family: "Raleway", sans-serif; 
font-weight: 700;
font-size: 18px;


line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5 ;
}

.menu-ok :focus{
    color:#434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.logo-btn :hover,:focus{
background-color: #404BBF;
}

.logo-btn{
cursor: pointer;
font-family: "Roboto", sans-serif;
 font-weight: 500;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
}

.logo-text{
line-height: 1.07;
line-height: 1.07;
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}



.logo-two{
text-transform: capitalize;
line-height: 1.11;
font-weight: 700;
font-size: 36px;

 
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}


.opis{
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42 ;  
}


.name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

}

.logo-three{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}



.main-footer{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}



.text-two{
background-color: #FFFFFF;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455; 
}


.hero{
   line-height: 1.07;
   background-color:#2e2f42 ; 
}


.section-three{
 background-color: #F4F4FD;
}




.adres{
font-style: normal; 
}



.logo :focus,:hover {
 color: #4d5ae5;
}


.footer-menu{
    background-color: #2e2f42 ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px ;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5 ;
}


.footer-nuz{
    background-color: #2e2f42 ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px ;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5 ;
}



